{% extends 'base.html' %}

{% block title %}{{user.username}} Play's 182's QUIZ{% endblock title %}

{% block content %}
<style>
 
    .wrapper {
        max-width: 550px;
        min-height: 250px;
        margin: 150px auto;
        padding: 25px 30px 30px 30px;
        background-color: #ecf0f3;
        border-radius: 15px;
        box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff
    }
  
   
    .wrapper .btn {
        box-shadow: none;
        width: 100%;
        height: 90px;
        margin-top:50px;
        background-color: #03A9F4;
        color: #fff;
        border-radius: 45px;
        font-size:40px;
        box-shadow: 4px 5px 3px #b1b1b1, -3px -3px 3px #fff;
        letter-spacing: 1.3px
    }
   
    .wrapper .btn:hover {
        background-color: red;
        color:black;
    }
  
  
    @media(max-width: 380px) {
          .wrapper {
            margin: 30px 20px;
            padding: 40px 15px 15px 15px
          }
          
     }
  
  </style>
<div class="wrapper">   
     <form method='post' >
            {% csrf_token %}
    <div id="displaytimer" name='timer'><b>Timer: 0 seconds</b></div><br>
    {% for i  in questions %}
    <div class="container ">
        <h1>{{i.id}}> {{i.question}}</h1>
        
            <div class="form-check">
                <div class="form-check">
                    <input type = "radio" class="rb" name = '{{i.id}}' id="op1" value="{{i.op1}}">&nbsp{{i.op1}}
                </div>
                <div class="form-check">
                    <input type = "radio" class="rb" name = '{{i.id}}' id="op2" value="{{i.op2}}">&nbsp{{i.op2}}
                </div>
                <div class="form-check">
                    <input type = "radio" class="rb" name = '{{i.id}}' id="op3" value="{{i.op3}}">&nbsp{{i.op3}}
                </div>
                <div class="form-check">
                    <input type = "radio" class="rb" name = '{{i.id}}' id="op4" value="{{i.op4}}">&nbsp{{i.op4}}
                </div>
                <br>
            </div>    
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
            {% block script %}
                <script>
                    const timer=document.getElementById('displaytimer')
                    console.log(timer.textContent)
                    const inputtag = document.getElementById('timer')
         
                    t=0
                    setInterval(()=>{
                        t+=1
                        timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
                        inputtag.value = t
                    },1000)
                </script>
            {% endblock script %}
         
        </div>
        
        






</div>




{% endblock content %}

